   # Andrew Denman
   ## wk8: 11 Mar 2021
   ### Functions Continued

In [1]:
def full_name(fname, lname):
    return fname + ' ' + lname

In [2]:
full_name('Andrew', 'Denman')

'Andrew Denman'

In [3]:
# find a number that is a prime
def is_prime(num):
    '''
    This function checks if a number is prime
    '''
    for n in range(2, num):
        if num %n == 0:
            return str(num) + ' is not a prime number'
    else:
        return str(num) + ' is a prime number'

In [4]:
is_prime(15)

'15 is not a prime number'

In [5]:
is_prime(51)

'51 is not a prime number'

In [6]:
for n in range (2,99):
    print(n)
is_prime(99)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98

'99 is not a prime number'

In [7]:
#min_two_odds(3.5) --> 3
#min_two_odds(4.9) --> 9
def min_two_odds(n1,n2):
    if n1%2 !=0 and n2%2 != 0:
        return min(n1,n2)
    else:
        return max(n1,n2)

In [8]:
min_two_odds(9,3)

3

In [9]:
min_two_odds(9,2)

9

In [10]:
#check if two word strings start with the same letter
def two_words_letters(txt):
    wdlist = txt.split()
    word1 = wdlist[0]
    word2 = wdlist[1]
    return word1[0] == word2[0]

In [11]:
txt = 'Python Program'
txt.split()

['Python', 'Program']

In [12]:
two_words_letters('Python Program')

True

In [13]:
two_words_letters('Java Program')

False

In [14]:
#reduce code
def two_words_letters(txt):
    wdlist = txt.split()
    return wdlist[0][0] == wdlist[1][0]

In [15]:
two_words_letters('Java Program')

False

In [16]:
two_words_letters('Python Program')

True

In [17]:
#create_thirty(10,20) --> True
#create_thirty(5,30) --> True
#create_thirty(5,20) --> False
def create_thirty(num1, num2):
    if (num1 + num2) == 30:
        return True
    elif num1 == 30:
        return True
    elif num2 == 30:
        return True
    else: 
        return False

In [18]:
create_thirty(10,20)

True

In [19]:
create_thirty(5,30)

True

In [20]:
create_thirty(5,20)

False

In [21]:
#reduce code thirty
def create_thirty(num1, num2):
    return (num1 + num2) == 30 or num1 ==30 or num2 ==30

In [22]:
create_thirty(10,20)

True

In [23]:
create_thirty(5,30)

True

In [24]:
create_thirty(5,20)

False

In [25]:
#'programming' --> ProGramming
w = 'macdonalds'
w.capitalize()

'Macdonalds'

In [26]:
w [:3]

'mac'

In [27]:
part1 = w[:3].capitalize()

In [28]:
part2 = w[3:].capitalize()

In [29]:
part1 + part2

'MacDonalds'

In [30]:
def caps_two_letters(word):
    if len(word) > 3:
        part1 = word[:3].capitalize()
        part2 = word[3:].capitalize()
        return part1 + part2
    else:
        return 'Sorry, the word is too small'

In [31]:
caps_two_letters('Program')

'ProGram'

In [32]:
caps_two_letters('macdonalds')

'MacDonalds'

In [33]:
caps_two_letters('cis')

'Sorry, the word is too small'

In [34]:
#Reverse a statement
str1 = 'I am home'
lst = str1.split()

In [35]:
lst

['I', 'am', 'home']

In [36]:
#lst.reverse()
lst[::-1]

['home', 'am', 'I']

In [37]:
lst

['I', 'am', 'home']

In [38]:
' '.join(lst)

'I am home'

In [39]:
def rv_stat(txt):
    #lst = txt.split()
    #lst.reverse()
    return ' '.join(txt.split()[::-1])

In [40]:
rv_stat('I am home')

'home am I'

In [41]:
# Check if a list has number 5 next to number 5 somewhere in the list
#[3,4,5,5,10] -> True
#[3,4,5,6,5,8] -> Flase
def has_55(lst):
    for i in range(0,len(lst)-1):
        #if lst[i] == 5 and lst [i + 1] ==5:
        if lst[i:i+2] == [5,5]:
            return True
        
    return False

In [42]:
has_55([3,4,5,5,10])

True

In [43]:
has_55([3,4,5,6,5,8])

False

In [44]:
# check code 001 in a list
#[1,4,5,0,0,1,8] -> True
#[1,0,2,5,0,6,1,8] ->True
#[1,5,6,0,6,7,8,0] -> False

def check_code(lst):
    
    code = [0,1,1,'s']
    
    for num in lst:
        if num == code[0]:
            code.pop(0) # removes the number at index 0
            
    return len(code) == 1

In [45]:
check_code([1,4,5,0,0,1,8])

False

In [46]:
check_code([1,0,2,5,0,6,1,8])

False

In [47]:
check_code([1,5,6,0,6,7,8,0])

False

In [48]:
code = [0,1,1,'s']
code.pop(0)
code

[1, 1, 's']

In [49]:
code.pop(0)
code

[1, 's']

In [50]:
# Number of arguments
def full_name(fname,lname):
    print(fname +  " " + lname)
    
full_name('Andrew', 'Denman')

Andrew Denman

In [51]:
def full_name(*names):
    
    if (len(names) == 1):
        print(names[0])
    else:
        print(names[0] +  " " + names[1])
    
full_name('Andrew', 'Denman')

Andrew Denman

In [52]:
full_name('Andrew')

Andrew

In [53]:
def sum_nums(a,b):
    return sum((a,b))

In [54]:
sum_nums(10,15)

25

In [55]:
sum_nums(a)

NameError: name 'a' is not defined

In [ ]:
def sum_nums(*n):
    return sum(n) * 0.1

In [ ]:
sum_nums(10,15,9)

In [62]:
def my_kids(child1, child2, child3):
    print("my first child " + child1 + ", my second child " + child2 + ", my third child " +child3)

In [65]:
my_kids("Chloe", "Joel", "Amy")

my first child Chloe, my second child Joel, my third child Amy

In [66]:
my_kids(child2 = "Joel", child1 = "Chloe", child3 = "Amy")

my first child Chloe, my second child Joel, my third child Amy