# Andrew Denman
## wk9: 21 Mar 2021
### Lambda function

In [1]:
def double(num):
    return num * 2

print(double(3))

6

In [2]:
def square(x):
    return x**2

square(5)

25

In [3]:
'''
lambda arguments: expression
'''

double = lambda x:x*2

print(double(4))

8

In [4]:
# fin larger number using lambda function
larger = lambda a,b: a if a > b else b

print(larger(5,10))

10

In [5]:
# higher-order functions, such as map(), filter(),sort()

nums = [1,2,3,4,5,6,7]

map(square,nums)

In [6]:
mylist = list(map(square,nums))

In [7]:
mylist

[1, 4, 9, 16, 25, 36, 49]

In [8]:
for item in map(square,nums):
    print(item)

1
4
9
16
25
36
49

In [9]:
def evenwords(w):
    if (len(w)%2 == 0):
        return "Even"
    else:
        return w[0:2]

evenwords("Dodge")

'Do'

In [10]:
words = ["Ford", "Chevy", "Nissan", "GMC", "Mazda", "Dodge", "BMW"]

list(map(evenwords,words))

['Even', 'Ch', 'Even', 'GM', 'Ma', 'Do', 'BM']

In [11]:
list(map(lambda x:x**2,nums))

[1, 4, 9, 16, 25, 36, 49]

In [12]:
nums

[1, 2, 3, 4, 5, 6, 7]

In [13]:
list(map(lambda x:x[0],words))

['F', 'C', 'N', 'G', 'M', 'D', 'B']

In [14]:
list(map(lambda x:x[::-1],words))

['droF', 'yvehC', 'nassiN', 'CMG', 'adzaM', 'egdoD', 'WMB']

In [15]:
def even(num):
    return num%2 == 0

even(5)

False

In [16]:
even(8)

True

In [18]:
nums

[1, 2, 3, 4, 5, 6, 7]

In [19]:
filter(even,nums)

In [20]:
list(filter(even,nums))

[2, 4, 6]

In [21]:
list(filter(lambda x:x%2==0,nums))

[2, 4, 6]

In [22]:
list(map(lambda x:x%2==0,nums))

[False, True, False, True, False, True, False]

In [23]:
#lambda with sorting

names = ["Alan", "Greg", "Satan", "Bob", "Tara", "Bria", "Andrew", "Koby"]

names.sort()

In [24]:
names

['Alan', 'Andrew', 'Bob', 'Bria', 'Greg', 'Koby', 'Satan', 'Tara']

In [25]:
names.sort(key = lambda n:len(n))

In [26]:
names

['Bob', 'Alan', 'Bria', 'Greg', 'Koby', 'Tara', 'Satan', 'Andrew']